@import '../../styles/app';
.name{
    font-size: 20px;
    font-weight: 600;
}
.address{
    font-size: 15px;
    font-weight: 300;
}
.ver{
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    margin-bottom: 0;
}
.timbrado{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
}
.dropdownVisadas{
    float: right;
    width: 18%
}